.mainbody {
  background-color: #f9f9f9;
}

.container-body {
  background-color: #f9f9f9;
}

nav {
  background-color: #f9f9f9;
}

.spacer {
  background-color: black;
  padding: 5px;
}

footer {
  background-color: #1a0d00;
  color: #f9f9f9;
}
/*

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
      background-color: #111;
  }

  */